{% extends bill_base %}
{% load static %}


{% block title %} No Transaksi Pembelian  : {{ bill.billno }}{% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">No Transaksi Pembelian : {{ bill.billno }}</div>

    <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->
    
    <form method="post">
    {% csrf_token %}

        <div class="bg">
        
            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">Nota Pembelian</p> </td>
                        </tr>
                        
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;">Inventaris</span> <br>
                                <!-- <span style="font-size: 120%; font-weight: bold;">DEALERS IN : Products</span> <br> -->
                                <span style="font-weight: bold;">Alamat :</span> Paiton Karanganyar Probolinggo Jawa Timur<br>Pondok Pesantren Nurul Jadid<br>
                                <span style="font-weight: bold;">EMAIL : Inventaris@gmail.com</span> <br><br>
                            </td><!-- Log on to codeastro.com for more projects -->
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">Transaksi Pembelian </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;Nama Supplier</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;Nomer Nota</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.supplier.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;Tanggal</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;Kode Supplier : {{ bill.supplier.gstin }} </td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold; margin-left: 15px;" colspan="3">&nbsp;&nbsp;&nbsp;{{ bill.supplier.address|linebreaks }}</td>
                                        <!-- <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="po" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.po %}{{ billdetails.po }}{% endif %}"> </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><!-- Log on to codeastro.com for more projects -->
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 5%; font-weight: bold; text-align: center;">&nbsp;No</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">Barang</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">QTY</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">Harga</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">Total</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                       
                        <tr>
                            <td style="text-align: right; margin-right: 20px;">
                                <span style="font-weight: bold; margin-right: 20px;">TTD 
                                    Admin</span>
                                    <br><br><br><br> 
                                    <span style="font-weight: bold; margin-right: 20px;">(................) 
                                        </span>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Print</button>
            <button class="center btn btn-success" type="submit">Save Draft</button>
            <a href="{% url 'purchases-list' %}" class=" btn center btn-secondary">Go Back</a>
        </div><!-- Log on to codeastro.com for more projects -->

    </form>

    <script>
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }       
        </script>

{% endblock %}